////
/// Don't forget the stylesheet for print.
///
////
@media print {
    body {
        color: #222;
        background: #fff;
    }

    /// display  qr code to pastparty.tech
    header:before {
        content: url(https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=http://pastparty.tech&choe=UTF-8);
        position: absolute;
        right: 0;
        top: 0;
    }

    nav {
        display: none;
    }

    .wrapper {
        width: 90%;
        margin: 0px;
        padding: 0px;
    }

    * {
        color: #000;
        background-color: #fff;
        box-shadow: 0 0 0 transparent;
        text-shadow: 0 0 0 transparent;
    }

    ul, img {
       page-break-inside: avoid;
    }

    img {
        max-width: 500px;
    }


    @page {
        margin: 0.5cm;
    }

    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 14pt;
        margin-top: 25px;
    }

    blockquote,
    ul {
        margin: 0;
    }

    img {
        border: 0;
    }

    header {
        margin-bottom: 40px;
    }

    /// display external links inside paragraphs in brackets
    p a[href^="http://"]:after,
    a[href^="https://"]:after {
        content: " (" attr(href) ")";
        font-size: 90%;
    }

    p a {
        word-wrap: break-word;
    }

    a {
        color: #222;
        background: #fff;
    }

}
