html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: 18px;
    font-weight: 400;
    font-family: Barlow, -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Cantarell, Ubuntu, "Franklin Gothic Medium", "Liberation Sans", sans-serif;
    color: #555;
    line-height: 1.4;
}

.wrapper {
    display: block;
    max-width: 960px;
    margin: 1.6rem;
    padding: 1.6rem;
}

header {
    margin: 1.6rem 0 4rem;
}

h1, h2 {
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    color: #333;
    padding-right: .8rem;
}

h2 {
    margin: 1.6em 0;
}

h1 + span {
    color: #aaa;
    white-space: nowrap;
}

nav {
    margin: 1.6rem 0;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    margin-right: .8rem;
}

a {
    color: #222;
    text-decoration: none;
    transition: color .16s ease-in-out;
    padding: 2px 6px;
}

a:hover {
    color: #fff;
    background: #5f4b8b;
    border-radius: 3px;
}

.js-hide-menu {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
}

.hidden {
    display: none;
}

p {
    margin-top: 1.6rem;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    margin-bottom: 1.6em
}

.currently-learning {
    display: inline-block;
    font-size: 1.2rem;
    padding: 4px 10px;
    background-color: rgba(0,0,0,.01);
    border-radius: 50em;
    transition: background-color .16s ease-in-out;
}
.currently-learning:hover {
    background-color: rgba(0,0,0,.03);
}

.muted {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 4px 0;
    font-size: 1.2rem;
    opacity: .75;
    display: block;
}


.more {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    opacity: .75;
}
a:hover .more {
    opacity: 1;
}


::selection {
    background-color: #5f4b8b;
    color: #fff;
}
::-moz-selection {
    background-color: #5f4b8b;
    color: #fff;
}

#about {
    display: none;
}

#about:target {
    display: block;
}

#about:target ~ .social {
    display: none;
}

#about:target + .close {
    display: inline-block;
}

.close {
    display: none;
}


.social {
    margin-top: 2.8rem;
    user-select: none;
}

.social a {
    text-decoration: none;
    opacity: .7;
    transition: all .16s ease-in-out;
}

.social a:hover {
    text-decoration: none;
    opacity: 1;
}
