html {
    font-size: 62.5%;
}

body {
    display: flex;
    background: $color-text;
    font-family: -apple-system, BlinkMacSystemFont,
                "Avenir Next", Avenir,
                "Segoe UI", Roboto,
                "Helvetica Neue", Oxygen-Sans,
                Cantarell, Ubuntu,
                "Franklin Gothic Medium",
                "Liberation Sans",
                sans-serif;
    font-size: $m-size;
}


a {
    &:link {
        background-color: rgba(0,0,0,.05);
        color: darken($color-text, 16%);
        border-radius: 2px;
        border: 0;
        border-bottom: 1px dotted rgba(0,0,0,.01);
        transition: all .2s ease-in-out;
        padding: 2px 6px;
    }

    &:visited {
        background-color: transparent;
        border-bottom: none;
    }

    &:hover {
        color: $ultra-violet;
        border-bottom: 1px solid rgba(0,0,0,.01);
    }

    &:active {
        background-color: $ultra-violet;
        color: #fff;
    }
}
