////
/// This file contains all the vars, maps, settings, and occasionally bears.
///
////

/// Colors
$ultra-violet:      #5f4b8b;
$ultra-violet-plus: #654ea3;
$radiant-orchid:    #b565a7;

$color-text:        #20222b;

/// background colors for grid
$white:      #fefefe;
$black:      #1a1a1a;
$yellow:     #f4b61b;
$yellow-alt: #e0ab22;
$creme:      #fcfaf3;
$creme-dark: #ece8e5;

/// Spacing
$xxs-size:  .2rem;
$xs-size:   .8rem;
$s-size:   1.2rem;
$m-size:   1.6rem;
$l-size:   3.2rem;
$xl-size:  4.8rem;
$xxl-size: 6.4rem;

/// Breakpoints
$desktop-breakpoint: 45rem;





































///
///     ,^~~~-.         .-~~~"-.
///    :  .--. \       /  .--.  \
///    : (    .-`<^~~~-: :    )  :
///    `. `-,~            ^- '  .'
///      `-:                ,.-~
///       .'                  `.
///      ,'   @   @            |
///      :                     ;
///   ...{    ( )          ,----.
///  /   `.              ,' ,--. `.
/// |      `.,___   ,      :    : :
/// |     .'    ~~~~       \    / :
/// \.. /               `. `--' .'
///     |                  ~----~
///     |                      |
///
