/// Colors
$color-accent:     #3c4251;
$dark-blue:        #333745;
$light-blue:       #464b5e;
$purple:    #8357c5;

$color-text:       #20222b;
$color-background: #a5afd7;

/// Spacing
$xxs-size:  .2rem;
$xs-size:   .8rem;
$s-size:   1.2rem;
$m-size:   1.6rem;
$l-size:   3.2rem;
$xl-size:  4.8rem;
$xxl-size: 6.4rem;

/// Breakpoints
$desktop-breakpoint: 45rem;
